<header class="header">
    <div class="container">
        <div class="header__top--line">
            <a href="" class="header__logo">
                <img src="./img/icon/header_logo.svg" alt="header_logo" class="header__logo--img">
                <img src="../img/icon/header_logo-hover.png" alt="header__logo--hover" class="header__logo--hover">
                <p class="header__logo--text">Forkio</p>
            </a>
            <div class="header__button">Buy Now</div>
            <button class="header__burger">
                <span></span><span></span><span></span>
            </button>
        </div>
        <nav class="header__nav">
            <ul class="nav__menu">
                <li class="nav__menu--item"><a href="" class="active-link">Overview</a></li>
                <li class="nav__menu--item"><a href="">About Fork</a></li>
                <li class="nav__menu--item"><a href="">Buying Options</a></li>
                <li class="nav__menu--item"><a href="">Support</a></li>
            </ul>
        </nav>
        
        
        <div class="fork">
            <h1 class="fork__title">Fork App</h1>
            <h2 class="fork__descr">A Real Gamechanger In The World Of Web-Development</h2>
            <p class="fork__text">v. 2.8 For Mac and Windows</p>
            <button class="fork__btn">Download For Free Now</button>
        </div>
    </div>
</header>