<section class="container prices">
    <div class="prices__title">Fork Subscription Pricing</div>
    <div class="prices__block">
        <div class="block__item"> 
            <div class="prices__lvl">Students</div>
            <div class="prices__cost">$29</div>
            <div class="prices__period">Per Month</div>
            <div class="prices__line"></div>
            <div class="prices__description prices__description--small">Personal License</div>
            <div class="prices__purchase">Purchase</div>
        </div>
        <div class="block__item"> 
            <div class="prices__lvl">Professional</div>
            <div class="prices__cost">$59</div>
            <div class="prices__period">Per Month</div>
            <div class="prices__line"></div>
            <div class="prices__description">Professional License<br>Email Support</div>     
            <div class="prices__purchase">Purchase</div>
        </div>
        <div class="block__item block__item--special">         
            <div class="prices__lvl">Agency</div>       
            <div class="prices__cost">$99</div>       
            <div class="prices__period">Per Month</div>
            <div class="prices__line"></div>
            <div class="prices__description">1-12 Team Members<br>Phone Support</div>
            <div class="prices__purchase">Purchase</div>
        </div>
        <div class="block__item"> 
            <div class="prices__lvl">Enterprise</div>
            <div class="prices__cost">$159</div>
            <div class="prices__period">Per Month</div>
            <div class="prices__line"></div>
            <div class="prices__description">Unlimited Team Members<br>24/ 7 Phone Support</div>
            <div class="prices__purchase">Purchase</div>
        </div>
    </div>
</section>