@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin buttons{
    border-radius: 40px;
    background: #8D81AC;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
}
@mixin headerTitle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
@mixin headerDescr{
    color: #8D81AC;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
@mixin headerText{
    color: #848E97;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
}
@mixin peopleTitle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
@mixin peopleItemText{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
}
@mixin peopleDescr{
    color: #A291A5;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}