.header {
    background: url(../../img/bg/Header.png) center (center/cover) no-repeat;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: relative;
    background-position-x: center;
    text-align: center;

    &__top--line {
        @include flex-center;
        flex-direction: row;
        margin: 0;
        padding: 33px 15px 33px 16px;
        background-color: #27262A;

        .header__logo {
            position: relative;
            padding-right: 50px;

            .header__logo--hover {
                display: none;
            }

            .header__logo--text {
                display: none;
            }
        }

        .header__button {
            width: 119px;
            height: 37px;
            padding-top: 11px;
            @include buttons;
        }

        .header__burger {
            width: 26px;
            height: 30px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            background: none;
            border: none;
            margin-left: 51px;

            span {
                width: 26px;
                height: 3px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5px;
                background: #FFF;
                transition: all 0.5s;
            }

            span:nth-of-type(2) {
                width: 15px;
                left: 19px;
                top: calc(50% - 6px);
            }

            span:nth-of-type(3) {
                top: calc(50% + 6px);
            }

        }

        .header__burger.active {
            span:nth-of-type(1) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(45deg);
            }

            span:nth-of-type(2) {
                display: none;
            }

            span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(-45deg);
            }

        }

    }

    .header__nav {
        display: none;
        position: relative;
        right: -19px;

        .nav__menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto;
            width: 293px;
            height: 378px;
            background-color: #1a1a1a;

            .nav__menu--item {
                display: flex;
                justify-content: space-between;
                position: relative;
                height: 53px;
                margin-top: 29px;
                border-bottom: 3px solid #262626;

                .active-link {
                    color: #8D81AC;
                }

                .active-link::before {
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 53px;
                    left: 0;
                    top: -40%;
                    background-color: #8D81AC;
                }

                a {
                    height: 53px;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;
                    color: #FFF;
                    padding-left: 40px;
                    padding-top: 29px;
                }

                a:hover {
                    color: #8D81AC;

                }

                a::before {
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 53px;
                    left: 0;
                    top: -40%;
                }

                a:hover::before {
                    background-color: #8D81AC;

                }

            }

            .nav__menu--item:last-child {
                margin-bottom: 10px;
            }
        }
    }

    .header__nav.active {
        display: block;
    }

    .fork__title {
        margin: 0;
        margin-top: 48px;
        @include headerTitle;
    }

    .fork__descr {
        margin-top: 19px;
        @include headerDescr;
    }

    .fork__text {
        margin-top: 14px;
        @include headerText;
    }

    .fork__btn {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 30px;
        margin-top: 394px;
        @include buttons;
        width: 290px;
        height: 45px;

    }
}

@media (min-width:480px) {
    .header {

        &__top--line {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 22px 22px 18px 20px;
            background-color: #27262A;
            height: 118px;

            .header__logo {
                display: flex;
                flex-direction: row;
                padding-right: 0;

                .header__logo--text {
                    padding-top: 15px;
                    padding-left: 17px;

                    display: block;
                    color: #8D81AC;
                    font-family: Lato;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    text-transform: uppercase;
                }
            }
        }

        .header__button {
            width: 145px;
            height: 38px;
        }

        .header__burger {
            display: none;

        }

        .header__nav {
            display: block;
            all: initial;
            max-width: 500px;

            margin: 0 auto;

            .nav__menu {

                all: initial;
                display: flex;
                justify-content: space-between;
                position: relative;
                top: -40px;
                background: none;
                max-width: 500px;

                margin: 0 auto;

                .nav__menu--item {
                    all: initial;
                    padding: 0;
                    border: 0;

                    a {
                        padding: 0;
                        color: #8D81AC;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 18px;
                    }

                    a::before {
                        display: none;
                    }

                }

            }

        }

        .fork__title {
            font-size: 72px;
        }

        .fork__descr {
            font-size: 24px;
        }
    }


}

@media(min-width:992px) {
    .header {
        &__top--line {
            padding: 30px 90px;
            background: transparent;

            .header__logo {
                &:hover {
                    .header__logo--img {
                        display: none;
                    }

                    .header__logo--hover {
                        display: block;
                    }

                    .header__logo--text {
                        color: #FFF;
                    }
                }

            }

            .header__button:hover {
                background-color: #fff;
                color: #8D81AC;
            }
        }

        .header__nav {
            .nav__menu {
                gap: 0;
                cursor: pointer;
                top: -66px;
                left: 88px;
                cursor: pointer;
                width: 40%;
                top: -66px;
                left: calc(50% / 2 - 180px);

                .nav__menu--item:hover {
                    a {
                        color: #FFF;
                    }
                }
            }


        }
    }

    .fork__btn:hover {
        background-color: #fff;
        color: #8D81AC;
    }
}