.here__article{
    color: #8D81AC;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    margin: 120px 0 36px 0;
}

.here__block{
    @include flex-center;
    margin-top: 38px;
    flex-direction: column;
}



.here__block__article{
    color: #323232;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    @include flex-center;
    margin: 20px 0 14px 0;
}

.here__block__text{
    color: #848E97;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.here__img--small{
    margin-top: 60px;
    float: right;
}

.here__img--big {
    margin-top: 80px;
    float: right;
    display: none;
    max-width: 700px;
    width: 100%;
}

@media screen and (min-width:481px) {
    .here__img--small{
        display: none;
    }
    
    .here__img--big{
        display: flex;
    }

    .here__img{
        display: flex;
        justify-content: baseline;
        margin-left: 20px;
    }

  

    .here__block{
      flex-direction: row;
      justify-content: center;
      div{
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }
      .here__block__text{
        text-align: left;
        margin-left: 23px;
        position: relative;
      }
    }
    
    .here__block--1{
        margin-left: 24px;
    }
    .here__block--2 {
        margin-left: 76px;
    }
    .here__block--3 {
        margin-left: 48px;
    }
    .here__block--4 {
        margin-left: 68px;
    }

}

@media screen and (min-width:993px) {
    .here__section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,138px);
        margin-top: 168px;
    }
    .here__block{
        grid-area: 1/1/5/2;
    }
    .here__article{
        grid-area: 1/2/2/3;
    }
    .here__img--big{
        grid-area: 2/2/5/3;
    }

    .here__section{
        margin-bottom: 100px;
    }
}