.people{
    background: url(../../img/bg/people.png) center (center/cover) no-repeat;
    background-color: #4B3b3E;
    &__title{
        padding-top: 57px;
        @include peopleTitle;
    }
    &__items{
        padding-top: 53px;
        .people__item{
            text-align: center;
            .people__item--logo{
                
            }
            .people__item--text{
                @include peopleItemText;
                padding: 30px 0 40px 0;
            }
        }
    }
    &__descr{
        color:#A291A5;
        font-size:14px;
        text-align: center;
        line-height:21px;
        max-width:900px;
        margin:0 auto;
        &::after {
            content: '';
            display: block;
            height: 2px;
            background:#645766;
            margin-top:20px;
            
          }

    }
}
@media (min-width:480px){
    .people{
        &__title{
            font-size: 42px;
        }
        &__items{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            .people__item{
                width:40%;
                align-self: center;
      
            }
        }
    }

}
@media (min-width:992px) {
    .comments{
        &__title{
            padding: 108px 0 81px;
            font-size:48px;
        }

        &__items{
            .people__item{
                width:30%;
                
      
            }

    }

    
}
}