.prices{
    background: url(../../img/bg/Layer\ 2\ \(1\).png)  ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // padding:109px 0 97px 0;
}

.prices__title{
    
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    padding: 109px 0 61px 0;
}

.prices__block{
    // @include flex-center;
    // flex-direction: column;
    // flex-wrap: wrap;
    display: grid;
    gap: 18px;
    align-items: center;
    justify-items: center
}

.block__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 257px;
    height: 460px;
    background-color: rgb(255, 255, 255, 0.11);
    margin-bottom: 100px;
}




.prices__lvl {
    color: #FFF;
    background-color: rgb(255, 255, 255, 0.06);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    padding:36px 0 36px 0;
    // padding: 36px 49px;
}

.prices__cost{
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 60px;
font-weight: 700;
text-transform: uppercase;
margin-top: 30px;
}

.prices__period{
color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}

.prices__line{
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
    margin-top: 38px;
    margin-bottom:30px;
}

.prices__description{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    // margin-top: -10px;
}

.prices__description--small{
    margin-bottom: 30px;
}

.prices__purchase{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, 0.15);
    border-radius: 50px;
    margin: 16px 0 30px 0;
    padding: 14px 36px;
}

.block__item--special {
    background-color: rgb(70, 48, 72, 0.84);
    width: 299px;
    height: 560px;
    .prices__lvl {
        background-color: rgba(0, 0, 0, 0.11);
        padding: 43px 0 43px 0;
    }

    .prices__cost {
        margin-top: 14px;
        font-size: 82px;
    }
    .prices__period{
        margin-top: 14px;
    }
    .prices__line{
        margin-top: 40px;
        margin-bottom: 36px;
    }
    .prices__description{
        line-height: 32px;
    }
    .prices__purchase{
        border-radius: 50px;
        margin:60px 0 47px 0;
        padding: 19px 48px;
    }
}

@media screen and (min-width:481px) {
.prices__block{
    grid-template-columns: 1fr 1fr;
}

}

@media screen and (min-width:993px) {
.prices__block{
    grid-template-columns: repeat(4,1fr);
}
}