.revolutionary__presection__text{
    color: #848E97;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin: 19px 0 94px 0;
}



.revolutionary__article{
    color: #635C73;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.revolutionary__text{
    margin-top: 26px;
    margin-bottom: 36px;
    color: #323232;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.revolutionary__buttons{
    @include flex-center;
    margin: -7px;
    flex-wrap:wrap  ;
}


.revolutionary__button{
    @include flex-center;
    margin: 5px;
}


.revolutionary__button--grey{
    @include flex-center;
    border: 1px solid gray;
    background-color: gainsboro;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 85px;
    gap: 5px;
}

.revolutionary__button--white{
    border: 1px solid gray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    background-color: whitesmoke;
    color: black;
    font-family: Montserrat;
    line-height: 24px;
    width: 62px;
    text-align: center;
}

.revolutionary__button__text{
    color: black;
    font-family: Montserrat;
    line-height: 24px;
}



@media screen and (min-width:481px){

    .revolutionary__article {
        font-size: 42px;
    }

    .revolutionary__text {
        font-size: 21px;
    }

}

@media screen and (min-width:993px){
    .revolutionary__article {
        font-size: 54px;
    }

    .revolutionary__text {
        font-size: 21px;
    }
}


