@import 'settings/mixins';
@import 'settings/variables';
//@import 'fonts';
@import 'template/here.scss';
@import 'template/people.scss';
@import 'template/prices.scss';
@import 'template/revolutionary.scss';
@import 'template/header.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat','Lato' sans-serif;
  background: #fff;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.container{
  max-width: 1200px;
  padding: 0 10px 0 10px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li{
  list-style: none;
}
